{% extends 'layouts/main.html' %}

{% block content %}
<h1 class="page-header">Dashboard</h1>
<div class="dash-main">
  <!-- Have the most recent posts of a user's friends -->
  <div class="latest">
    <textarea class="accept-post" name="make-a-post" placeholder="What's on your mind..."></textarea>
    <button type="button" name="button" class="add-post">Add Post</button>
    <!-- single post to go here -->
    <h4>See the latest posts from your friends!</h4>
    <div class="single-post">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
        Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
         Nunc ultrices ac erat sit amet tincidunt.</p>
      <button type="button" name="button" class="viewpost">View Post</button>
   </div>
   <!--
  <div class="cards">
    <div class="card" style="width: 18rem;">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>-->
</div>
</div>
{% endblock %}
