
{% extends 'layouts/main.html' %}

{% block content %}

<div class="sky">
  <h1 class="splash">Welcome back!</h1>
</div>

<div class="dash-main">
  <!-- Have the most recent posts of a user's friends -->
  <div class="latest">

      <textarea class="accept-post" name="make-a-post" placeholder="What's on your mind..."></textarea>
      <button type="submit" name="button" class="add-post">Add Post</button>

    {% if posts == '' %}
    <!-- single post to go here -->
    <hr>
    <h4 class="head">Recents</h4>
    <hr>
      <div class="single-post">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
          Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
           Nunc ultrices ac erat sit amet tincidunt.</p>
        <button type="button" name="button" class="viewpost" onclick="window.location.href='{{ url_for('post')}}'">View Post</button>
     </div>
     <div class="single-post">
       <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
         Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
          Nunc ultrices ac erat sit amet tincidunt.</p>
       <button type="button" name="button" class="viewpost">View Post</button>
    </div>
    <div class="single-post">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
        Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
         Nunc ultrices ac erat sit amet tincidunt.</p>
      <button type="button" name="button" class="viewpost">View Post</button>
   </div>
   <div class="single-post">
     <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
       Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
        Nunc ultrices ac erat sit amet tincidunt.</p>
     <button type="button" name="button" class="viewpost">View Post</button>
  </div>
  <div class="single-post">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
      Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
       Nunc ultrices ac erat sit amet tincidunt.</p>
    <button type="button" name="button" class="viewpost">View Post</button>
  </div>
  {% else %}
  <ul>
    {% for post in posts %}
       <div class="single-post">
         <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
         <p> {{ post.content }}</p>
        <button type="button" name="button" class="viewpost">View Post</button>
       </div>
    {% endfor %}
  </ul>
  {% endif %}
   <!--
  <div class="cards">
    <div class="card" style="width: 18rem;">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>-->
</div>
<div class="sidebar head">
  <h1>Friends</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec tellus euismod, porttitor tortor sit amet, mattis ipsum.
     Cras sollicitudin vitae risus non dictum. Donec nunc est, fringilla vel justo at, efficitur molestie odio.
     Aenean dolor nisl, sodales vitae dui eget, viverra ornare ipsum. Integer tristique justo eu odio venenatis, vitae pharetra purus ornare. Vivamus fermentum molestie leo, vitae ullamcorper risus.
     Nulla posuere enim blandit metus sodales ultricies. Nullam facilisis purus eu placerat iaculis. Ut imperdiet consectetur enim sodales lobortis. Curabitur vitae ante in diam mattis mollis.
     Proin luctus congue pulvinar. </p>

</div>
</div>

{% endblock %}
