{% extends 'layouts/main.html' %}

{% block content %}
<div class="noted">
  <div class="displaypic">
    <img src="../static/img/stock.jpg" alt="sideimage" class="frontpage" height="250px" width="250px">
  </div>
    <div class="log-sign">
        <h2>Xpress</h2>
        <hr>
        <p>Share more with your friends and family!</p>

        <div class="btns">
          <button onclick="window.location.href='{{ url_for('register') }}'" type="button" name="button" class="signin-btn">Sign Up</button>
          <button onclick="window.location.href='{{ url_for('login') }}'" type="button" name="button" class="login-btn">Login</button>
        </div>

        <div class="admin-sign">
            <p>Admin? sign in <a href="{{ url_for('admin') }}">here</a></p>
        </div>
    </div>
</div>
{% endblock%}
