{% extends 'layouts/main.html' %}

{% block content %}
<!-- to display groups-->
<!-- should we -->
<div class="group">
  <!-- display the content editors and the list of members-->
  <div class="user-sidebar">
    <div class="content-editors">

    </div>
    <div class="Members Joined"> <!-- These members are all users who add themselfves to the groups-->

    </div>
  </div>
  <!-- the main group and post -->
  <div class="group-main">
    <div class="group-name">
      <h4>Group name</h4>
    </div>
    <div class="group-post">
      <p>content editor name</p> <!-- content editor name to be displayed here -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
        Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus</p> <!--post made by the group-->
      <a href="#"><span>view comments</span></a>
  </div>
</div>







{% endblock%}
