{% extends 'layouts/main.html' %}

{% block content %}
<div class="posts">
  <!-- This is where the main post will sit -->
  <div class="post-main">

    <!-- The comments for the post will be embedded within the post -->
    <div class="user">
      <img src="https://via.placeholder.com/50" class="card-img-top" alt="profile photo placeholder">
      <span>username</span>
      <span class="timer">4hrs ago</span>
    </div>
    <div class="post-info">
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget libero quis mauris consectetur congue sed at odio. Morbi maximus nulla et nisi semper, eu consequat ante pharetra. In ligula leo, vestibulum at egestas et, ornare id libero. Ut iaculis, massa sit amet luctus suscipit, urna mauris pharetra tortor, et eleifend orci tellus eget elit. Maecenas aliquam, neque a fringilla fringilla, odio ipsum sagittis sem, ut dictum nibh lectus eu turpis. Curabitur augue ante, sollicitudin vitae leo sed, imperdiet scelerisque turpis. Nam condimentum ligula non accumsan dignissim. Pellentesque a risus nec libero scelerisque fermentum. Etiam sed ipsum egestas ipsum maximus dictum sit amet sit amet mi.

Integer dignissim fermentum tincidunt. Donec pretium risus lacus, et auctor turpis dignissim ac. Morbi pretium nisi in risus vulputate ultricies. Integer congue id urna a euismod. Sed mollis quam ut est varius sodales. Morbi semper congue risus. Maecenas lacinia commodo nibh, in facilisis diam aliquam ac. Suspendisse hendrerit dolor vitae luctus convallis. Suspendisse metus leo, molestie vitae commodo eget, semper sed lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    </div>
    <div class="comments">
      <em><h4>Comments</h4></em>
      <textarea name="make-comment" class="accept-comment" placeholder="Comment here"></textarea>
      <button type="submit" class="comment-button">Post comment</button>
      <div class="single-comment">
        <img src="https://via.placeholder.com/50" alt="Avatar in comments section">
        <span>username</span>
        <p>This is my comment</p>
      </div>
      <div class="single-comment">
        <img src="https://via.placeholder.com/50" alt="Avatar in comments section">
        <span>user's name goes here</span>
        <p>This is another comment. I will make it longer Integer dignissim fermentum tincidunt. Donec pretium risus lacus, et auctor turpis dignissim ac. Morbi pretium </p>
      </div>
      <p></p>
    </div>
  </div>

</div>
{% endblock %}
