{% extends 'layouts/main.html'%}
{% block title %} Profile {% endblock %}

{% block content %}
<h2 class="page-header">Profile</h2>

<div class="profile-container">
  <div class="proinfo">
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="profile-pic"></a>
    <h3 class="bio">Bio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat tellus sed lectus mollis ultricies.
      Vivamus dictum velit eget nulla euismod sollicitudin. Etiam ut nisl commodo, blandit ipsum eget, convallis tortor. Cras id ex tellus.
      Pellentesque eu pellentesque lectus. Sed finibus purus orci, semper pretium orci dapibus eu. Praesent eu cursus orci.
       Curabitur placerat blandit mi, sit amet pellentesque sem vulputate sit amet. Nunc ac lectus egestas,
       cursus metus eget, semper tortor. </p>
    
    <button type="button" name="button" class="edit-profile">Edit Profile</button>
  </div>
  <hr>
  <div class="seeposts">
    <p>Friends recent posts here</p>
    <img src="" alt="profile image">
    <button type="button" name="button">View All</button>
  </div>
</div>
{% endblock %}
