{% extends 'layouts/main.html'%}
{% block title %} Profile {% endblock %}

{% block content %}
<!--<h2 class="page-header">Profile</h2>-->

<h1>Your Profile</h1>
<div class="profile-container">

    <div class="pro-info left">
      <img src="https://via.placeholder.com/150" alt="profile photo" class="mock">
    </div>
    <div class="biographic">
      <h3>John Doe</h3>
      <h4>peopleprofile@example.com </h4>
      <h4>Bio</h4>
      <p>Profile description here - Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
       Nunc ultrices ac erat sit amet tincidunt.</p>
    </div>
    <div class="follow-info">
      <table class="follo">
        <tr>
          <td>80</td>
          <td>100</td>
        </tr>
        <tr>
          <th>Followers</th>
          <th>Following</th>
        </tr>
      </table>
      <button type="button" name="button" class="follow">Follow</button>
      <button type="button" name="button">Edit Profile</button>
    </div>

</div>
<div class="your-posts">
  <div class="your-posts-heading">
    <h4>Your Posts</h4>
  </div>
  <div class="post">
    <div class="single-post">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="profile photo placeholder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus felis, rutrum at mauris at, fermentum consectetur nisi. Vivamus semper molestie orci, at porta nisl mollis quis. Pellentesque ac risus magna. Ut scelerisque sapien pellentesque, venenatis turpis ac, posuere ipsum.
        Ut quis posuere ligula. Nam at porta mi. Donec sed suscipit metus. Nulla tincidunt dui at tortor gravida, at consequat justo congue.
         Nunc ultrices ac erat sit amet tincidunt.<span><a href="#">View Comments</a></span></p>

      <button type="button" name="button" class="viewpost">View Post</button>
      <hr>

    </div>
   </div>
  </div>

{% endblock %}
