
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
  font-family:sans-serif;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}


/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/
h1{
  font-size: 150%;
}


.dash-main{
  display: flex;
}

.latest h4{
  text-align: center;
}

div.sidebar{
  font-size: 80%;
  text-align: center;
  padding: 5px 10px;
  margin-top: 30px;
  margin-left: 40px;
  box-shadow: 1px 2px 3px #315A74;
  width:50%;
  height: auto;

}

.viewpost {
  border-radius:5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  color: black;
  background-color: #2DD881;
}

textarea.accept-post{
 margin-top: 30px;
 resize:none;
 width:100%;
 height: 10%;
 padding:5px 3px;
 border-top: 8px solid #2DD881;
 border-radius: 5px;
}

div.single-post{
 border-top: 1px solid
 padding: 5px 10px;
 display: flex;
 height:150px;
 margin-right: 20px;
 margin-left: 20px;
 margin-bottom: 30px;
}

div.single-post img{
 padding-right:50px;
}

div.single-post p{
 width:60%;
 margin-right: auto;
 margin-left: auto;

}

button.viewpost{
 align-self: flex-end;
}

button.add-post{
 align-items: flex-end;
 border-radius: 3px;
 color: white;
 background-color: blue;
 display: inline;
 margin-bottom: 20px;
}

.sky{
  color: black;
  height:200px;
  background-image: url("/static/img/social.jpg");
  background-size:contain;

}

.profile-container{
  display: inline-flex;
  background-color: #4EA699;
  width:100%;
  flex-flow: row;
  padding-top:10px;
  color: #140D4F;

}

.pro-info.left{
  display: block;
  padding-left: 30px;
  margin-left: 20px;
  width:30%;
}

.biographic{
  margin-top: 0;
  width:40%;
}

button.follow{
  margin-top: 10px;
  align-self: flex-end;
  display: block;
  width: 100%;
}

.follow-info{
  margin-right: auto;
  margin-left: auto;
}

/*ul.nav.navbar-nav li{
  background-color: #140D4F;
}*/

.head{
  font-size: 130%;
  background-color: #315A74;
  color: white;
  padding-top:  20px;
  padding-bottom: 20px;
}

img.mock{
  border-radius: 50%;
}

.your-posts{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow:  1px 2px 2px 3px #CAD2C5;
  margin-top: 2px;
  padding-top:10px;
  padding-bottom: 20px;
}

.your-posts-heading{
  text-align:center;
  border-bottom: 2px solid white;
  margin-bottom:10px;
}

.comments ul li{
  align-self: flex-end;
}
/********************************/

/*styles for post*/
.posts{
  margin-top: 15px;
  padding-top: 5px;
  padding-left:10px;
  padding-right:8px;
  border-top: 4px solid #4EA699;
  border-radius: 5px;
}
.user{
  height:70px;
}

.user span{
  display: inline-block;
  margin-right:8px;
}

.comments{
  padding-top: 10px;
  margin-left: 40px;
}

.single-comment p{
  display:inline-block;
}

.single-comment{
  margin-bottom: 15px;
  border-bottom: 1px solid #140D4F;
  padding-bottom: 5px;
}

em{
  margin-bottom: 8px;
  align-self:center;
}

em h4{
  text-align: center;
}

textarea.accept-comment{
  padding-top: 10px;
  resize:none;
  padding-left: 10px;
  height:80px;
  width:100%;
}

button.comment-button{
  margin-bottom: 30px;
}
/*end of styles for post*/
/********************************/

/*styles for editprofile*/
.edit-prfile{
  display: flex;
  height: 100%;
}

.sidebar-left{
  width:30%;
}

.sidebar-left{
  width:25%;
  height: 100%;
  margin-right: 30px;
  background-color:#6EDFB7;
  padding: 5px 10px;
  border-radius: 5px;
  align-content: center;
  color: #140D4F;
  font-weight: bold;

}

.sidebar-left h2{
  text-align: center;
  font-size: 160%;
  font-weight: bold;
  border-bottom: 1px solid #140D4F
}

.edits label,
.edits input{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;

}

div.edits{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


.edits input{
  width:100%;
  height:40px;
  padding-left: 5px;

}

.edits h2{
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  border-bottom: 1px solid #140D4F;
}

.edits button{
  margin-top:10px;
}

.edits .changeprofile{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #140D4F;
  color: white;
  padding: 5px 5px;
}




.friends h4{
  background-color: #140D4F;
  text-align: center;
  color: white;
  font-weight: bolder;
}



/*end of styles for edit profile*/
/********************************/














/* Various other styles end */
